# Created by https://www.toptal.com/developers/gitignore/api/macos,linux,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,linux,windows
__init__.py
.DS_Store

models/
archive/
img/
sparql/dev
applications/dev/

# End of https://www.toptal.com/developers/gitignore/api/macos,linux,windows
src/__pycache__/utils.cpython-39.pyc
src/__pycache__/gnn.cpython-39.pyc
src/__pycache__/__init__.cpython-39.pyc
src/__pycache__/gcn.cpython-39.pyc
src/__pycache__/loaders.cpython-39.pyc
src/__pycache__/models.cpython-39.pyc
src/__pycache__/TransE.cpython-39.pyc
workflows/Reasoner.ipynb
src/__pycache__/rgnn.cpython-39.pyc
src/__pycache__/TorusE.cpython-39.pyc
